{{> above}}
<p>
    Make the <code>index.md</code> file by parsing a website URL
</p>
{{# if msgtype }}{{# if msgtext }}
    <div class="alert alert-{{msgtype}}">{{msgtext}}</div>
{{/if}}{{/if}}
<p>
<form id="metaform" method="post" action="/" enctype="multipart/form-data">
    <input type="hidden" name="step" value="{{step}}" />
    <fieldset>
        <legend>
            Make Metadata
        </legend>
        <div class="input-field">
            <label>Website URL</label>
            <input type="text" name="url" value="{{url}}" />
        </div>

        <div class="input-field">
            <button class="button" onclick="grecaptcha.execute(); return false;">Start</button>
        </div>

        <div class="text-center">
            <div class="g-recaptcha" data-badge="inline" data-sitekey="6Lcfk2oUAAAAAP4JzeEf-3clYeeVVrUEelYjdUSj" data-size="invisible" data-callback='onSubmit'></div>
        </div>
    </fieldset>
</form>
</p>
{{> below}}
